@model Book

@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Details
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="details.css" />
    <script src="details.js"></script>
</head>
<body>
    <h2>Details</h2>

    <div>
        <h4>Book Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt class="title">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="title">
                @Html.DisplayNameFor(model => model.Author.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.FullName)
            </dd>

            <dt class="title">
                @Html.DisplayNameFor(model => model.Release)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Release)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.GenreID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenreID)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.SubGenreID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubGenreID)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.PublisherID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherID)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.Length)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.QtyTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QtyTotal)
            </dd>
            <dt class="title">
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>

        </dl>
     </div>

</body>
</html>
