@model Book

<div>
    <div class="row details-page">
        <div class="movie-card">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="poster-float">
                        <!-- IMAGE OF COVER HERE -->
                        <img src=@Model.ImgSrc width="350" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="ti101tle">@Html.DisplayFor(model => model.Title)</h2>
                    <h5 class="tag-line">@Html.DisplayFor(model => model.Author.FullName)</h5>
                    <div class="row details">
                        <div class="col-sm-6">
                            <b>Original Release:</b> @Model.Release.ToShortDateString()
                        </div>
                        <div class="col-sm-6">
                            <b>ISBN:</b> @Html.DisplayFor(model => model.ISBN)
                        </div>
                        <div class="col-sm-6">
                            <b>Pages:</b> @Html.DisplayFor(model => model.Length)
                        </div>

                    </div>
                </div>
            </div>
            @*<div class="row storyline">
                    <div class="column">
                        <h2>Storyline</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac quam neque. Suspendisse in imperdiet sem. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris justo sem, dignissim et tempus sit amet, dictum ut elit. Aliquam pharetra risus dui, ut egestas tellus tincidunt sit amet. Phasellus at libero sit amet leo aliquam cursus id id sapien. Nunc in augue nibh. Sed sit amet ornare sem, at tempus erat. In hac habitasse platea dictumst. Nam elementum molestie nunc et luctus. Praesent luctus laoreet dui, vel faucibus elit condimentum nec. Mauris pharetra, quam id faucibus consectetur, tellus nibh vulputate nisl, eget tincidunt nunc massa ac odio.
                            Donec vel felis nec quam mattis aliquam. Vestibulum vulputate arcu in elementum feugiat. Curabitur non vehicula risus. In quis convallis turpis, quis tristique nisl. Nulla eget di
                        </p>
                    </div>
                </div>*@

            @*<div class="row storyline">
                    <div class="column">
                        <h2>Cast</h2>
                    </div>
                </div>*@

            <hr>

        </div>

    </div>
</div>
@section Styles
{
    @Styles.Render("~/Content/details.css")
}